.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  background-color: #1B2735;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 50px;
  margin:20px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name {
  font-size: 3vh;
  text-align: center;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}
.jobTitle {
  font-size: 2vh;
  padding-top: 10px;
  text-align: center;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}
.socialLinks{
  padding-top: 20px;
  font-size: 2rem;
}
.socialLink{
  padding: 5px;
}
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:gold }
